# For site
sphinx
myst-nb
sphinx-book-theme
sphinx-design
ipympl
sphinx-copybutton
# For tutorials
matplotlib
# for testing
pytest
nbval
pytest-custom_exit_code
jupytext
jupyterlab-myst
# For myst stack
mystmd
jupyter
